body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.overflow-x-hidden {
	overflow-x: hidden !important;
}
.navbar {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
    height: 40px;
    padding-left: 35px;
}
.bg-green {
	background-color: #14563e;
}
.text-green {
	color: #14563e;
}
.bg-light-green {
	background-color: #eaf3ee;
}
.btn {
	font-size: 1.4rem;
    font-weight: 500;
    padding: 7px 35px;
    border-radius: 9px;
    background-color: #ffbd4a;
}
.btn:hover {
	font-size: 1.4rem;
    font-weight: 500;
    padding: 7px 35px;
    border-radius: 9px;
    background-color: #ffbd4a;
}
.text-warning {
	color: #ffbd4a !important;
}
.font-weight-bold {
	font-weight: bold;
}
.br-12 {
	border-radius: 12px;
}
.border-none {
	border: none !important;
}
.font-15 {
	font-size: 15px;
}
footer {
	background-color: #14563e;
	padding: 20px 0;
}
footer img {
	width: 220px;
}
.accordion-button, .accordion-body {
	font-size: 20px;
}
.card {
    border: 1px solid #ced4da;
}
.accordion-item {
	border: none;
}
.accordion-button:not(.collapsed) {
	color: #14563e !important;
	background-color: #fff;
	box-shadow: none !important;
}
.accordion-button:focus {
	border-color: #fff;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  transition: all 0.5s;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}
.accordion-button::after {
  transition: all 0.5s;
}
.border-top-12 {
	border-top-left-radius: 12px;border-top-right-radius: 12px
}
.card-title {
	text-align: center;
	color: #14563e;
	font-weight: bold;
}
.card-text {
	font-size: 0.8rem;
	text-align: center;
	color: #14563e;
	padding: 15px 0;
}
.card-footer {
	background-color: transparent;
	border-top: none;
	font-weight: bold;
	padding-bottom: 1rem;
}
.ml-10px {
	margin-left: 10px;
}
.letter-space-4px {
	letter-spacing: 4px;
}
.navbar {
	background-color: #fff;
}
.nav-link {
	text-transform: uppercase;
	color: #14563e;
	font-weight: 600;
}
.nav-link:hover{
	color: #ffbd4a !important;
}
.nav-item {
	padding-left: 2rem;
	padding-right: 0.6rem;
}
.bg-hero {
	background: #eaf3ee;
}
.subscribe-input {
	padding: 9px 8px;
    margin-right: -6px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 40%;
    border: none;
}
.subscribe-btn {
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 9px 22px;
    margin-top: -3px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #ffbd4a;
    border: none;
}
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 60px;
}

#quote-carousel .carousel-control {
  background: none;
  color: #CACACA;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}

#quote-carousel .carousel-indicators {
  position: relative;
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-top: 20px;
  margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0.4;
  overflow: hidden;
  transition: all .4s ease-in;
  vertical-align: middle;
}

#quote-carousel .carousel-indicators .active {
  width: 128px;
  height: 128px;
  opacity: 1;
  transition: all .2s;
}

.carousel-indicators img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
}
.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}














/*Desktop Only Media Query*/
@media screen and (min-width: 900px) {
	.font-inr {
		font-size: 5rem;
	}
	.desktop-pt-6 {
		padding-top: 6rem;
	}
	.max-width-1100px {
		max-width: 1100px;
	}
	.pad-top-10 {
		padding-top: 10rem;
	}
	.register-card {
		position: absolute;margin-left: -100px;margin-top: 30px;border-radius: 12px;width: 32vw;
	}
	.py-md-8{
		padding: 8rem 0;
	}
	.b-r-10{
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.py-6{
		padding: 6rem 0;
	}
	.pad-bottom-9 {
		padding-bottom: 9rem;
	}
	.w-md-100 {
		width: 100%;
	}
	.g-md-5 {
		--bs-gutter-y: 3rem;
	}
}

/*Mobile Only Media Query*/
@media screen and (max-width: 900px) {
	.font-inr {
		font-size: 3rem;
	}
	.mob-font-12 {
		font-size: 12px;
	}
	.mob-font-10 {
		font-size: 10px;
	}
	.py-md-8{
		padding: 3rem 0;
	}
	.pad-bottom-9 {
		padding-bottom: 5rem;
	}
	.py-6{
		padding-top: 3rem;
	}
	.w-md-100 {
		width: 80%;
		padding-bottom: 2rem;
	}
	.mob-overflow-x-hidden {
		overflow-x: hidden;
	}
	.subscribe-input {
		padding: 5px 8px;
	    width: 60%;
	}
	.subscribe-btn {
	    padding: 10.2px 22px 6.8px 22px;
	}
}